<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="author" content="Mahmoud Mheisen" />
    <meta name="description" content="FCC Course 5 Project 2" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- CSS Links -->
    <link type="text/css" rel="stylesheet" href="style.css" />

    <!-- Title -->
    <title>Header Parser Microservice</title>

    <!-- Icon -->
    <link
      type="image/x-icon"
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <strong>Header Parser Microservice</strong>
      is a NodeJS API that allow the client to request his IP adreess, langauges
      and his system info using a route parameter, server respond with a JSON
      object containing requested data, done for
      <strong>FreeCodeCamp APIs and Microservices Course, Project 2</strong>
    </header>

    <h3>Example Usage:</h3>
    <table class="center">
      <tr>
        <th>URL</th>
        <th>OUTPUT</th>
      </tr>
      <tr>
        <td>
          <code
            ><a
              href="https://mahmoudmheisen91-headerparsermicroservice.glitch.me/api/whoami"
              >GET [project url]/api/whoami</a
            ></code
          >
        </td>
        <td>
          <code
            >{"ipaddress":"86.108.17.243","language":"en-US,en;q=0.9,ar;q=0.8,de-DE;q=0.7,de;q=0.6,af;q=0.5,la;q=0.4","software":"Mozilla/5.0
            (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
            Chrome/80.0.3987.132 Safari/537.36"}</code
          >
        </td>
      </tr>
    </table>

    <footer>
      &copy; 2020 Mahmoud Mheisen
    </footer>
  </body>
</html>
